.wrapper,
.loader {
  box-sizing: border-box;
  background-color: transparent;
  display: block;
  outline: none;
  pointer-events: none;
  user-select: none;
  padding: 0;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0 solid transparent;
  border-top: 0 solid transparent;
  animation:
    spin 2s linear infinite,
    fadeIn 1s ease forwards;
  transform: translate(-50%, -50%);
}
